

body{
  margin-left: 30px;
  font-size: 13px;
}

.message {
  color: green;
}

h1{
  margin-top: 10px;
}

.edit-name {
  margin-top: 20px;
  margin-bottom: 5px;
}

p {
  margin: 0 0 30px 40px;
}

td {
  padding: 7px;
}

a {
  color: black;
}

input[type="text"], #book_body{
  margin-bottom: 7px;
}

.edit-submit {
  margin-top: 7px;
  margin-bottom: 10px;
}